@font-face { font-family: 'Eoe_Zno_B'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_B.woff') format('woff'); font-weight: normal; font-style: normal; }
@media all and (orientation:landscape){
    .containDiv{
        display:flex;
        width:100%;
        
    }
    .containDiv h2{
        font-size:3vw;
    }
    .containDiv > #we{
        /* border:1px solid; */
        margin-left : auto;
        -webkit-flex-basis: 70%; 
        flex-basis: 100%;
        padding: 120px 19.03% 61px 30.89%;
        font-family: 'Eoe_Zno_B';
    }
    .imgDiv{
        margin-bottom: 30px;
        display:flex;
        width:100%;
        height:270;
        max-height:300px;
        overflow: hidden;

    }
    .imgSpace{
        /* max-height:300px; */
        display:flex;
        /* background-color:gray; */
        flex : 0 1 60%;
        padding : 15px;
        /* color:white; */
        word-wrap: break-word;
        background-color: rgba(55,50,52, 1);
        
    }
    .imgSpaceR{
        /* max-height:300px; */
        display:flex;
        /* background-color:gray; */
        flex : 0 1 60%;
        padding : 15px;
        /* color:white; */
        word-wrap: break-word;
        background-color: rgba(55,50,52, 1);

    }
    .imgSpace2{
        
        /* margin-left:-1px; */
        width:0px;
        height: 0px;
        border-bottom: 300px solid rgba(55,50,52, 1);
        border-right : 300px solid transparent;
        

    }
    .imgSpaceR2{
        
        /* margin-left:-1px; */
        width:0px;
        height: 0px;
        border-bottom: 300px solid rgba(55,50,52, 1);
        border-left : 300px solid transparent;
        

    }

    .profileImg{
        /* display: inline-block; */
        width:256;
        height:100%;
        /* border-radius: 50%; */
        margin:0 10 0 10px;
        object-fit: cover;
    }
    .wordSpace{

        font-size: 1.8vw;
        /* order:2; */
        overflow: hidden;
    }
    .nameSpace{
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        color:rgba(55,50,52, 1);
        display:block;margin-left:30px;margin-bottom:-1.4%;font-size:2vw;position: relative; z-index: 2;
    }
    .nameSpaceR{
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        color:rgba(55,50,52, 1);
        text-align: right;
        display:block;margin-right: 30px;margin-bottom:-1.4%;font-size:2vw; position: relative; z-index: 2;
    }
    #videobcg { 
        position: absolute;
        height:40vh;
        width: 100%;
        object-fit: cover;
        z-index:1;
        top:55px;
    }
    body{
        background-color:black;
        color:#c8d7d2;
    }

}

@media all and (orientation:portrait){
    .containDiv{
        display:flex;
        width:100%;
        
    }
    .containDiv h2{
        font-size:4vw;
    }
    .containDiv > #we{
        /* border:1px solid; */
        margin-left : auto;
        -webkit-flex-basis: 70%; 
        flex-basis: 100%;
        padding: 61px 8.03% 61px 15.89%;
        font-family: 'Eoe_Zno_B';
    }
    .imgDiv{
        margin-bottom: 30px;
        display:flex;
        width:100%;
        height:20%;
        max-height:300px;
        overflow: hidden;

    }
    .imgSpace{
        /* max-height:300px; */
        display:flex;
        /* background-color:gray; */
        flex : 0 1 90%;
        padding : 15px;
        /* color:white; */
        word-wrap: break-word;
        background-color: rgba(55,50,52, 1);
        
    }
    .imgSpaceR{
        /* max-height:300px; */
        display:flex;
        /* background-color:gray; */
        flex : 0 1 90%;
        padding : 15px;
        /* color:white; */
        word-wrap: break-word; /* 자동 줄바꿈*/
        background-color: rgba(55,50,52, 1);
        margin-left:auto;
    }
    .imgSpace2{
        display:none;
        /* margin-left:-1px; */
        width:0px;
        height: 0px;
        border-bottom: 300px solid rgba(55,50,52, 1);
        border-right : 300px solid transparent;
        

    }
    .imgSpaceR2{
        display:none;
        /* margin-left:-1px; */
        width:0px;
        height: 0px;
        border-bottom: 300px solid rgba(55,50,52, 1);
        border-left : 300px solid transparent;
        

    }

    .profileImg{
        height: 100%;
        /* display: inline-block; */
        width:30%;
        /* height:px; */
        /* border-radius: 50%; */
        margin:0 10 0 10px;
        object-fit: cover;
    }
    .wordSpace{

        font-size: 3vw;
        /* order:2; */
        overflow: hidden;
    }
    .nameSpace{
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        color:rgba(55,50,52, 1);
        
        
        display:block;margin-left:30px;margin-bottom:-1.4%;font-size:2vw;position: relative; z-index: 2;
    }
    .nameSpaceR{
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        color:rgba(55,50,52, 1);
        text-align: right;
        display:block;margin-right: 30px;margin-bottom:-1.4%;font-size:2vw; position: relative; z-index: 2;
    }
    #videobcg { 
        position: relative;
        height:40vh;
        width: 100%;
        object-fit: cover;
        z-index:-1000;
    }
    body{
        background-color:black;
        color:#c8d7d2;
    }
}