@media (min-width:500px) and (orientation:landscape){
    #homeRightCon{
        display:none;
    }
    #homeRightCon * {
        display:none;
    }
    .test {
        background: url('https://images.unsplash.com/photo-1564510714856-4df7dc095cdd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2247&q=80') !important;
        background-size:cover;
        width:340px!important;
        height:150px;
        position: relative!important;
        z-index:0!important;
        /* float:left!important; */
        /* margin:10px!important; */
        overflow:hidden!important;
        border-radius: 6px!important;
        
        /* box-shadow: 10px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
        }

        .bgBlur:before {
    
            content: '';
            position: absolute;
            top: -10; left:-10; right:-10; bottom:-10;
            background: inherit;
            z-index:-1;
            filter: blur(1px); 
            -webkit-filter: blur(1px); 
            -moz-filter: blur(6px);
            -o-filter: blur(6px);
            -ms-filter: blur(6px);
            filter: url(#blur);
            
        }

}

    h1 {
        color:WHITE;
        margin:1em;
    }
    svg {
    height:0
    }


 

    .promiseCard{
        text-align:center;font-size:24pt;overflow:auto;color: white;  white-space:nowrap;text-overflow:ellipsis;
    }

    
    @media all and (max-width:970px),all and (orientation:portrait){
    #homeRightCon{margin-bottom:10px;}
    #myProfiles{padding:10px;display:flex;}
    #myProfileNames{width:100%; margin-left:10px;padding:5px 0 5px 0;}
    #myProfileIns{width:200px; white-space:nowrap; overflow: hidden; text-overflow: ellipsis}

    .menu_tabs{width:100%; overflow:hidden;  padding:0px; margin:0px; background-color:#d3d5d8}
    .menu_tabs ul{padding:0px; margin:0px;}
    .menu_tabs li{list-style:none; position:relative; float:left; width:50%}
    
    .menu_tabs li a{display:block;padding:3px 7px 3px 7px;text-decoration:none; text-align:center;border:1px solid #d3d5d8;border-bottom: 0px; color:#3f3f3f}
    .menu_tabs li a:hover{text-decoration:none;}
    .menu_tabs li.actives a{background:white; font-weight:bold; color:rgb(91, 117, 109);border-bottom:0px solid white;}
    .menu_tabs li.actives a:hover{text-decoration:none}
    #panels {margin:0px 20px 10px 0px;  line-height:1.5em; border-left: 1px solid #d3d5d8; border-bottom: 1px solid #d3d5d8;border-right: 1px solid #d3d5d8; overflow:scroll;width:100%;max-height:200px;}
    .menu_tabs0{ padding: 10px; font-size:10pt;}

    /* rightCont 친구신청 new 영역 */
    #newControls{position: absolute;} 
    /*new 위치 컨트롤*/
    #newFriendNews{position:relative;top:-19px;left:180;z-index:999;font-size:9pt;background-color:#D84339;color:white;padding:1px 2px 1px 2px;}
    #newFirendBts{position: relative;top:-20px;left:188px; z-index:1000; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #D84339} 
    /* new 하단 삼각형 */

}
