/* 아 웹표준 너무 어렵다.. */
.inputform{
    width:100%;
}
.formInput{

    width:100% !important;

    /* max-width:100%; */
    /* margin-left:20px; */
}

@media all and (orientation:landscape){
    #pickerDiv{
        display:flex;
        
    }
    #map{
        border-radius:20px;
        flex:1 1 100%;
        height:400px;
    }
}

@media all and (orientation:portrait){
    #pickerDiv{
        display:flex;
        flex-direction: column-reverse;
        
    }
    #map{
        border-radius:20px;
        flex:1 1 100%;
        height:300px;
    }
}

.css-script-clear{
    display:flex;
    flex:1 1 100%;
    justify-content: center;
}
.divContainer{
    flex:1 1 800px;
    color:#D84339;
    display:flex;
    justify-content: center;
    padding : 20px;
}table{
    width:100%;
    color:#D84339;
}td{
    max-width:700px;
}
label{
    width:70px;

}

body{
    
    background-image: linear-gradient(120deg, #fdfbfb 0%, #f7f7f7 100%);
}
.col-lg-6{
    max-width:100%;
    flex: 1 1 100%;
    
    padding:10px;
}

div{
    flex:1 1 100%
}
#pickerInput{
    padding-right : 20px;
    padding-left:20px;
    margin-top:15px;
    /* flex:0 0 auto; */
    order:2;
}.datetime{
    width:100%;
}
#pickerspace{
order:1;
}
#logoDiv{
    flex:1 1 800px;
}
#logo{
    flex:1 1 800px;
    height:160px;
}
#createForm{
    width:100%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

form{
    display:flex;
}
.new_tab{
    text-align: right;
}
.new_tab>ul>li{
    display:inline;
}
.new_tab>ul{
    display:inline;
    margin-left:auto;
}
 
.chapter a:link{color:gray;text-decoration: none;}
.chapter a:hover{text-decoration: none;}
.chapter a:visited{color:gray;text-decoration: none;} 
.chapter  a:active{color:gray;text-decoration: none;} 
.new_order0{color:#D84339;}
