{% extends 'base.html'%}
{% block contents %}
{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

        <link rel="stylesheet" href="{% static 'accounts/css/mypage.css' %}">
    <title>My Page</title>
</head>

<body>

<a href="{% url 'kakao' operation='signout' %}">탈퇴하기</a>
    <div class="container" style="padding:20px;">
            <h1>My Page</h1>
        <div class="profile">
            <div class="profile-head">프로필</div>
            <div class="profile-body">
                <div class="profile-img">
                    <div class="imgbox">
                       <img height="170px"src="{{user.thumbnail_image}}">
                    </div>
                    <!-- TODO: 수정에는 이미지 업로드 폼! 그리고 카카오 로그인일때는 수정불가. -->
                    <form action="#" style="padding-top:1rem;"><input type=submitP value="수정"></form>
                </div>
                <div class="profile-text">
                    <p><strong style="color:black;">{{user.name}}</strong></p>
                    <p style="margin-bottom : 0rem;">{{user.email}}</p>
                    <p>넣고싶은 정보 뭐가있을지 모르겠다 ex)닉네임 ?</p>
                    <form action="{% url 'mypage_mod_conf' %}" method='POST'>
                        {% csrf_token %}
                        <!-- TODO: 자바스크립트로 해야함. -->
                        {% if user.state_msg == '' %}
                            <div class="profile-statemessage"><input style="border:0px solid; width:100%;height:9.9rem"type="text" name='msg' placeholder="상태메시지를 입력해주세요."></div>
                        {% else %}
                            <div class="profile-statemessage"><textarea id="usermsg" style="border:0px solid; width:100% ;height:9.9rem;vertical-align:text-bottom;word-wrap: break-word;" type="text" name='msg' value="{{user.state_msg}}" readonly>{{user.state_msg}}</textarea></div>
                        {% endif %}
                        <div style="margin-top:10px">
                        <a id="modbutton" href="#" onclick="modmsg()" >수정하기</a>
                        <a id="modcbutton" href="#" onclick="modcancel()">수정취소</a>
                        <button type="submit" style="float:right;">확인</button>
                        </div>
                        <script>
                           $('#modcbutton').hide();
                           var usermsgtmp=$('textarea').val();
                                function modmsg(){
                                    $( 'textarea' ).removeAttr( 'readonly' );
                                    $('#modcbutton').toggle();
                                    $('#modbutton').toggle();
                                }
                                function modcancel(){
                                    
                                    $('textarea').val(usermsgtmp);
                                    $('textarea').attr('readonly','true');
                                    $('#modbutton').toggle();
                                    $('#modcbutton').toggle();
                                }

                              </script>
                    </form>
                </div>
            </div>
        </div>


       
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    </div>
    </body>
    
    
    {% endblock %}