{% extends 'base.html'%}
{% block contents %}
{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/minty/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'accounts/css/mypage.css' %}">
    <title>My Page</title>
</head>

<body>


    <div class="container" style="padding-top:20px;">
            <h1>My Page</h1>
        <div class="profile">
            <div class="profile-head">프로필</div>
            <div class="profile-body">
                <div class="profile-img">
                    <div class="imgbox">
                        {% if not user.socialaccount_set.all %}
                            {% if not user.profile %}
                                스태틱
                            {% else %}
                                <img width="150" height="200" src="{{ user.profile.image.url }}" />
                            {% endif %}
                        {% else %}
                            <img width="150" height="200" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" class="imgbox2" alt="프로필"/>
                        {% endif %}
                            </div>
                    <!-- TODO: 수정에는 이미지 업로드 폼! 그리고 카카오 로그인일때는 수정불가. -->
                    <form action="#" style="padding-top:1rem;"><input type=submitP value="수정"></form>
                </div>
                <div class="profile-text">
                    <p style="font-size: 1.2vw;"><strong style="color:black;"> {{user.username}}</strong></p>
                    <p style="margin-bottom : 0rem;">{{user.email}}</p>
                    <p>넣고싶은 정보 뭐가있을지 모르겠다 ex)닉네임 ?</p>
                    {% if not user.profile %}
                        <div class="profile-statemessage">상태메세지를 입력해주세요.</div>
                    {% elif user.profile.state_msg is None %}
                        <div class="profile-statemessage">상태메세지를 입력해주세요.</div>
                    {% else %}
                        <div class="profile-statemessage">{{ user.profile.state_msg }}</div>
                    {% endif %}
                    <a href="{% url 'mypage_mod' %}">상태메시지 수정하기</a>
                </div>
            </div>
        </div>
        <div class="cccc">
            <button class="staterevise" value="수정">석준아 수정</button>
        </div>

        <!-- 최근 약속은 지우는게 어떨까?? 어차피 home에 나오는데??? -->
        <div class="resent">
            <p style="color: black; margin-bottom: 0cm;"><strong>최근약속</strong></p>

            {% for promise in promises %}

            <div class="resent-p">약속제목 : {{promise.title}}<br>
                약속장소 with 수 friends<br>
                at 약속시간</div>

            {% endfor %}

        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>
{% endblock %}