@media all and (orientation:portrait){ /* 모바일 */
    .menubar{
        display: none;
        
    }
    .contentdiv{
        width:80%;
        
        
    }
    .mycard{
        margin:auto;
    }
 
}