{% load staticfiles %}
<!-- 아우 시발 이거 나중에 안쓰는거 정리 -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/minty/bootstrap.min.css">

<!-- datepicker 2 lines --->
<link rel="stylesheet" href="{% static 'promise/css/tail.datetime-default-blue.css' %}">
<script src="{% static 'promise/js/tail.datetime.js' %}"></script>

<!-- base -->
<link rel="stylesheet" href="{% static 'promise/css/base.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- 모바일화면적용 -->
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">약<span style="font-size:5px">속을</span>지<span style="font-size:5px">키지 않는 새끼</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">집 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'new' %}">약속잡기</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'search'%}" tabindex="-1">친구 검색</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'wanted' %}">수배자</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'aboutus' %}">aboutus</a>
          </li>
      </ul>
    </div>
  </nav>

  
      <div id="sub_menu">
            {{user.name}}님, 
              {% if user.profile and user.profile.state_msg != None %}
              {% endif %}
              {% if noti_add_friend %}
              <strong style="color:#D84339">친구 신청 알림</strong>이 있습니다.
             
              {% else %}
              요청된 친구신청이 없어요! 
              {% endif %}
              <div style="float:right;">
                  <span id="subMenuLink">
                      <a href="{% url 'mypage' %}">마이페이지</a> |
                      <a  href="{% url 'kakao' operation='logout' %}">로그아웃</a> | 
                      
                  </span>
                      <img id="alarmIcon" src="{% static 'promise/icon/alarm.png'%}"/>
                      <div id="alarmCount">{{all_noti_count}}</div>
              </div>
      
      </div>

      <div id="bodyCon">

          <div id="leftCon">
{% block contents %}
{% endblock %}

<div id="rightCon">
    <div id="myProfile">
    <!-- 프로필 사진 보여주기 -->
    <div>

        {% if user.profile_image == '' %}
        <img style="border-radius:50%" width="60" height="60" src="{% static 'promise/user.png' %}" />
        {% else %}
        <img style="border-radius:50%" width="60" height="60" src="{{ user.thumbnail_image }}" />
        {% endif %}

    </div>
    <div id="myProfileName">
    {{user.name}}<br>
    <div id="myProfileIn">{{ user.state_msg  }}</div>
    
    </div>
    </div>

    <div class="menu_tab">
            
        <ul>
                
            <li class="active"><a href="#"; onclick="tab_menu(0);">친구신청</a></li>
            {% if noti_add_friend %}
                  <span id="newControl">
                  <span id="newFriendNew">new</span>
                  <span id="newFirendBt"></span>
                  </span>
                {% endif %}
            
            <li><a href="#" onclick="tab_menu(1);">초대 및 댓글</a></li>
            {% if noti_promise %}
            <span id="newControl">
            <span id="newFriendNew">new</span>
            <span id="newFirendBt"></span>
            </span>
          {% endif %}
        </ul>
    </div>
    <div class="menu_tab0" id="panels" >
            {% if not noti_add_friend %}
                너는 친구도없니? <br>
            {% endif %}
            {% for noti in noti_add_friend %}
                <strong style="color:#D84339">{{noti.send_user.name}}</strong>님께서 친구 신청을 하였습니다. 
                <a href="{% url 'change_friend' operation='ok' pk=noti.send_user.id %}">수락</a> | <a href="{% url 'change_friend' operation='deny' pk=noti.send_user.id %}">거절</a><br>
                
            {% endfor %}
    
    </div>
    <div class="menu_tab1" id="panels" style="display:none;">
        {% for noti in noti_promise %}
        {% if noti.com_or_pro == 'p' %}
        <div class="notiPromise">
            <div class="notiL">
                <a href="{% url 'noti_promise_button' operation='click' pk=noti.id %}" >{{noti.send_user.name}}님이 {{noti.promise.title}}에 초대했습니다.</a>
            </div>   
            <div class="notiR">
              <form name="acpt_time_form" action="{% url 'promise_acpt' operation='acpt' promise_id=noti.promise.id %}"><button class="nbtn" onclick="checkPenalty('acpt','{{noti.promise.what_betting}}','{{noti.promise.per_or_one}}','{{noti.promise.per_min_money}}','{{noti.promise.setting_min}}','{{noti.promise.onetime_panalty}}','{{noti.promise.id}}')">수락</button></form>
              <form action="{% url 'promise_acpt' operation='deny' promise_id=noti.promise.id %}"><button class="nbtn" >거절</button></form>
            </div>
        </div>
        {% elif noti.com_or_pro == 'c' %}
        <div class="notiPromise">
            <div class="notiL">
                <a href="{% url 'noti_promise_button' operation='click' pk=noti.id %}">{{noti.send_user.name}}님이 {{noti.promise.title}}에 댓글을 남겼습니다.</a>
            </div>   
            <div class="notiR">
                <a href="{% url 'noti_promise_button' operation='delete' pk=noti.id %}"><button class="nbtn" style="width: 84px;">지우기</button></a>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    {% for noti in noti_penalty %}
      {% if noti.final == '0' %}
        {% if noti.penalty == '-1' %}
          <div class="notiPromise">
            <div class="notiL">
                <a href="{% url 'detail' pk=noti.promise.id %}">"{{noti.promise.title}}"의 엽사가 공개되고있어요!! 서둘러서 도착하세요!</a>
            </div>   
          </div>
        {% else %}
          <div class="notiPromise">
            <div class="notiL">
                <a href="{% url 'detail' pk=noti.promise.id %}">"{{noti.promise.title}}"의 벌금이 {{noti.penalty}}입니다. 서둘러서 도착하세요!</a>
            </div>   
          </div>
        {% endif %}
      {% else %}
        <div class="notiPromise">
          <div class="notiL">
              <a href="{% url 'detail' pk=noti.promise.id %}">"{{noti.promise.title}}"의 최종벌금은 {{noti.penalty}}입니다.</a>
          </div>   
          <div class="notiR">
            <a href="{% url 'noti_promise_button' operation='delete_penalty' pk=noti.id %}"><button class="nbtn" style="width: 84px;">지우기</button></a>
          </div>
        </div>
      {% endif %}
  {% endfor %}

      
    {% if not noti_promise %}
    <p style="margin:10px">알림이 없어요 ^^</p>
    {% endif %}
    </div>
    
    <script>
    function tab_menu(num){
        var f = $('.menu_tab').find('li');
        for(var i =0; i<f.length; i++){
            if(i==num){
                f.eq(i).addClass('active');
                $('.menu_tab' + i).show();
            }else{
                f.eq(i).removeClass('active');
                $('.menu_tab' + i).hide();
            }
        }
    }
    
    function checkPenalty(opt, what_bet, what_per, per_min, set_min, one_penal, promise_id){
      if(opt == 'acpt'){
        if(what_bet == '벌금'){
          if(what_per == '시간'){
            if(confirm("이 약속은 늦으면 "+set_min+'분당 '+per_min+"원이다!!") == true ){
              document.acpt_time_form.submit();
            }
            else{
              return false;
            }
          }
          else{
            if(confirm("이 약속은 늦으면 벌금"+one_penal+"원이다!!") == true ){
              document.acpt_time_form.submit();
            }
            else{
              return false;
            }
          }
        }
        else if(what_bet == '엽사'){
          if(confirm("엽사를 등록합시다~") == true ){
              document.acpt_time_form.submit();
          }
          else{
            return false;
          }
        }
      }
    }
    </script>


