{% load socialaccount %}
{% get_social_accounts user as accounts %}

<p>{{user.username}}님,</p>

{% if user.image %}
<img width="50" height="50" src="{{ user.image }}" />
{% else%}
<img width="50" height="50" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
{% endif %}
<a href="{% url 'new' %}">
<button>글쓰기</button>
</a>

<a href="{% url 'logout' %}">로그아웃</a>
<a href="{% url 'mypage' %}">마이페이지</a>

<h2>친구신청 알림</h2>
{% for noti in noti_add_friend %}
    {{noti.send_user}}님께서 친구 신청을 하였습니다. <br>
    <a href="{% url 'change_friend' operation='ok' pk=noti.send_user.id %}">수락</a><a href="{% url 'change_friend' operation='deny' pk=noti.send_user.id %}">거절</a><br>
{% endfor %}

<!-- 모든 사용자 띄우기(super유저는 친구목록이 안뜸) -->
<h2>Other People</h2>
{% for user in users %}
    {{ user.username }}
    {% if user not in friends %}
        {% if user.username in noti_wait_friend %}
        <button>요청중</button>
        {% else %}
        <a href="{% url 'add_friend' pk=user.pk %}">
            <button>친구신청</button>
        </a>
        {% endif %}
    {% endif %}
    <br>
{% endfor %}

<!-- 친구목록 -->
<h2>friends</h2>
{% for friend in friends %}
{{ friend.username }}
<a href="{% url 'change_friend' operation='remove' pk=friend.pk %}">
    <button>친구해제</button>
</a>
<br>
{% endfor %}

<!-- 약속게시물 -->
<h2>Promise(진행중인 약속)</h2>
<!-- 도착 -->
{% for arrive in arrives %}
    {% if arrive.promise.end == 0 %}
            <a href="{% url 'detail' pk=arrive.promise.id %}">
                <div>
                    {{arrive.promise.title}} <br>
                    {{arrive.promise.setting_date_time}} <br>
                    (도착) <br>
                </div>      
            </a>
    {% endif %}
{% endfor %}
<hr> 
<!-- 미도착 -->
{% for no_arrive in no_arrives %}
    {% if no_arrive.promise.end == 0 %}
            <a href="{% url 'detail' pk=no_arrive.promise.id %}">
                <div>
                    {{no_arrive.promise.title}} <br>
                    {{no_arrive.promise.setting_date_time}} <br>
                    (미도착) <br>
                </div>      
            </a>
    {% endif %}
{% endfor %}      
        

<h2>Promise(시간이 지난 약속)</h2>
{% for promise in promises %}
{% if user.username == promise.user.username or user.username in promise.party %}
{% if promise.end == 1 %}
<a href="{% url 'detail' pk=promise.id %}">
    <div>
        {{promise.title}} <br>
        {{promise.setting_date_time}}
    </div>      
</a>
{% endif %}
{% endif %}
{% endfor %}