{% extends 'base.html' %}
{% load staticfiles %}
{% block contents %}
<!-- css -->
<link rel="stylesheet" href="{% static 'promise/css/newLandscape.css' %}">
<!-- 지도 api key -->
<script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=1e1e43d51246b484ff2b8c4980dc005b&libraries=services"></script>


<head>
    
    <!-- 지도관련 script -->
    <script>
    var ifyoufirst=0;
    var infowindow = new kakao.maps.InfoWindow({zIndex:1});

    function init()
    {
        window.navigator.geolocation.getCurrentPosition(current_position);
        
        ifyoufirst++;
    }

    function current_position(position)
    {
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = {
                
                //TODO : 위치기반 현재 위치 따오기 만약 위치서비스 안쓸경우도 대비
                center: new kakao.maps.LatLng(position.coords.latitude, position.coords.longitude), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };  

        // 지도를 생성합니다    
        var map = new kakao.maps.Map(mapContainer, mapOption); 
    
        // 주소 - 좌표 변환 객체
        var geocoder = new kakao.maps.services.Geocoder();

        var marker = new kakao.maps.Marker(); // 클릭한 위치를 표시할 마커입니다

        // 현재 지도 중심좌표로 주소를 검색해서 지도 좌측 상단에 표시합니다
        searchAddrFromCoords(map.getCenter(), displayCenterInfo);

        // 지도를 클릭했을 때 클릭 위치 좌표에 대한 주소정보를 표시하도록 이벤트를 등록합니다
        kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
            searchDetailAddrFromCoords(mouseEvent.latLng, function(result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    var detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                    where = result[0].address.address_name;
                    detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';
                    
                    var content = '<div class="bAddr">' +
                                    '<span class="title">주소</span>' + 
                                    detailAddr + 
                                '</div>';
                    
                    var latlng = mouseEvent.latLng;
                    // 마커를 클릭한 위치에 표시합니다 
                    marker.setPosition(latlng);
                    marker.setMap(map);

                    var lat = latlng.getLat();
                    var lng = latlng.getLng();

                    document.new_form.addr_lat.value = lat
                    document.new_form.addr_lng.value = lng

                    // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
                    infowindow.setContent(content);
                    infowindow.open(map, marker);
                }   
            });
        });

        // 중심 좌표나 확대 수준이 변경됐을 때 지도 중심 좌표에 대한 주소 정보를 표시하도록 이벤트를 등록합니다
        kakao.maps.event.addListener(map, 'idle', function() {
            searchAddrFromCoords(map.getCenter(), displayCenterInfo);
        });

        function searchAddrFromCoords(coords, callback) {
            // 좌표로 행정동 주소 정보를 요청합니다
            geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);         
        }

        function searchDetailAddrFromCoords(coords, callback) {
            // 좌표로 법정동 상세 주소 정보를 요청합니다
            geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
        }

        // 지도 좌측상단에 지도 중심좌표에 대한 주소정보를 표출하는 함수입니다
        function displayCenterInfo(result, status) {
            if (status === kakao.maps.services.Status.OK) {
                var infoDiv = document.getElementById('centerAddr');

                for(var i = 0; i < result.length; i++) {
                    // 행정동의 region_type 값은 'H' 이므로
                    if (result[i].region_type === 'H') {
                        infoDiv.innerHTML = result[i].address_name;
                        break;
                    }
                }
            }    
        }
    }
    
    </script>
</head>
<body>
        <script>
                function new_tab_script(num){
                    var f = $('.new_tab').find('li');
                    if(num==0){ $( '.new_order0' ).css( "color", "#D84339" );$( '.new_order1' ).css( "color", "gray" );$( '.new_order2').css( "color", "gray" );}
                    if(num==1){ $( '.new_order0' ).css( "color", "gray" );$( '.new_order1' ).css( "color", "#D84339" );$( '.new_order2').css( "color", "gray" );}
                    if(num==2){ $( '.new_order0' ).css( "color", "gray" );$( '.new_order1' ).css( "color", "gray" );$( '.new_order2').css( "color", "#D84339" );}
                    for(var i =0; i<f.length; i++){
                     
                        if(i==num){
                            if(i==2 ){
                                if(ifyoufirst==0){ //지도 pick 날아가는현상 해결
                                    init();
                                }
                                
                                f.eq(i).addClass('active');
                                $('.new_tab0' + i).show(); 
                                $('#new_tabArea'+i).show();
                            }else{
                            f.eq(i).addClass('active');
                            $('.new_tab0' + i).show();
                            $('#new_tabArea'+i).show();
                            }
                        }else{
                            f.eq(i).removeClass('chapter');
                            $('.new_tab0' + i).hide();
                            $('#new_tabArea'+i).hide();
                            
                        }
                    }
                    
                }
                </script>
        <div class="divContainer">
        <div class="new_tab" >
            <ul>
                <li class="chapter"><a href="#" onclick="new_tab_script(0)"><div class="new_order0" style="display: inline;">1. 글 작성</div> </a><img style="height:14px;padding-bottom: 5px;" src="{% static 'promise/next.png' %}"></li>
                <li class="chapter"><a href="#" onclick="new_tab_script(1)"><div class="new_order1" style="display: inline;">2. 시간 선택</div> </a><img style="height:14px;padding-bottom: 5px;" src="{% static 'promise/next.png' %}"></li> 
                <li class="chapter"><a href="#" onclick="new_tab_script(2)"><div class="new_order2" style="display: inline;">3. 장소 선택</div></a></li>
            </ul>
        </div>
        </div>
<!-- <div class="divContainer"><div id="logoDiv"><img src="{% static 'promise/logo.jpg' %}" id="logo"></div></div> -->
<form method="POST" name='new_form' id="createForm">
    <div class="divContainer" id="new_tabArea0">
            
        <div class="new_tab00" id="panel_new">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <!-- 참여인원 input -->
                {% for friend in friends %}
                <div class="friendsList">
                <input type="checkbox" name="party_friend[]" value="{{friend.uid}}"> {{friend.name}}
                </div>
                {% endfor %}
                <div class="new_tab">
                       
                           
                            <span class="chapter"><a href="#" onclick="new_tab_script(1)">다음</a></span>
    
                        
                    </div>

            </div>
        </div>
        <div class="new_tab01" id="panel_new" style="display:none;">
                 <!-- 날짜시간선택__ -->
        <div class="css-script-clear">

            

                <div class="col-lg-6">
                <h2>2. 날짜 및 시간 선택</h2>
                <div id="pickerDiv">
                    <div id="pickerInput">
                        <input  value="날짜 및 시간을 선택해주세요" style="border-radius:0px;"type="text" id="datetimeDemo" name="pic_date" class="datetime form-control" readonly/>
                    </div>
                    <div id="pickerspace"></div>
                </div>
                <div class="new_tab">
                        
                                <span class="chapter" style="float:left"><a href="#" onclick="new_tab_script(0)">이전</a></span>
                            <span class="chapter"><a href="#" onclick="new_tab_script(2)">다음</a></span>
    
                        
                    </div>
                </div>
            </div>
      
            <script>
                tail.DateTime("#datetimeDemo", {
                    static: "#datetime-demo-holder",   /* Used for demonstration */
                    position: "#pickerspace",
                    classNames: "theme-default",    /* Used for demonstration */
                    startOpen: true,                /* Used for demonstration */
                    stayOpen: true,                 /* Used for demonstration */
                });
    
    
            </script>
        </div>
                     <!-- 위도 경도 input -->
                   
                       <input type="hidden" name='addr_lat' value=''>
        <input type="hidden" name='addr_lng' value=''>
        <div class="new_tab02" id="panel_new" style="display:none;">
  

                <h2 style="margin-left:10px;">3. 장소 선택</h2>
         
                 <!-- 지도 띄우기 -->
                 <div class="divContainer">
                        
                        <div id="map">
                            
                        </div>
                 </div>
                 <div class="divContainer">
                        <div class="new_tab">
                                        <span class="chapter" style="float:left"><a href="#" onclick="new_tab_script(1)">이전</a></span>
                                    

                                
                            </div>
                        </div>
                 <div class="divContainer">
                 <input class="inputform" type="button" value="확인" onclick="checkform()">
                 <!-- <button onclick="" type='button'>확인</button> -->
                 </div>
                 <!-- submit 전에 form 양식 맞췄는지?-->
        
        </div>


        <script>
                function checkform(){
                    var timeTmp = document.getElementById('datetimeDemo').value;
                    var d = new Date();
                    
                    var cur_time = leadingZeros(d.getFullYear(), 4) +
                            leadingZeros(d.getMonth() + 1, 2) +
                            leadingZeros(d.getDate(), 2) +
                            leadingZeros(d.getHours(), 2) +
                            leadingZeros(d.getMinutes(), 2) +
                            leadingZeros(d.getSeconds(), 2);
        
                    var set_time = timeTmp.replace("-","");
                    set_time = set_time.replace("-","");
                    set_time = set_time.replace(" ","");
                    set_time = set_time.replace(":","");
                    set_time = set_time.replace(":","");
        
                    if(cur_time < set_time){
                        i
                        if(confirm(timeTmp + "\n" + where + "이 확실해요?") == true){
                            document.new_form.submit();
                        }else{
                            
                            return false;
                        }
                    } else{
                        alert("약속 시간이 현재보다 이전입니다.");
                        return false;
                    }
                }
        
                function leadingZeros(n, digits) {
                    var zero = '';
                    n = n.toString();
        
                    if (n.length < digits) {
                        for (i = 0; i < digits - n.length; i++)
                        zero += '0';
                    }
                    return zero + n;
                }
                </script>

   


       

       
        
    </form>
</div>
</body>




{% endblock %}
