{% extends 'base.html' %}
{% load staticfiles %}
{% block contents %}
<!-- css -->
<link rel="stylesheet" href="{% static 'promise/css/newLandscape.css' %}">
<!-- 지도 api key -->
<script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey={{app_key}}&libraries=services"></script>


<head>
    
    <!-- 지도관련 script -->
    <script>
    var ifyoufirst=0;
    var infowindow = new kakao.maps.InfoWindow({zIndex:1});

    function init()
    {
        window.navigator.geolocation.getCurrentPosition(current_position);
        
        ifyoufirst++;
    }

    function current_position(position)
    {
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = {
                
                //TODO : 위치기반 현재 위치 따오기 만약 위치서비스 안쓸경우도 대비
                center: new kakao.maps.LatLng(position.coords.latitude, position.coords.longitude), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };  

        // 지도를 생성합니다    
        var map = new kakao.maps.Map(mapContainer, mapOption); 
    
        // 주소 - 좌표 변환 객체
        var geocoder = new kakao.maps.services.Geocoder();

        var marker = new kakao.maps.Marker(); // 클릭한 위치를 표시할 마커입니다

        // 현재 지도 중심좌표로 주소를 검색해서 지도 좌측 상단에 표시합니다
        searchAddrFromCoords(map.getCenter(), displayCenterInfo);

        // 지도를 클릭했을 때 클릭 위치 좌표에 대한 주소정보를 표시하도록 이벤트를 등록합니다
        kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
            searchDetailAddrFromCoords(mouseEvent.latLng, function(result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    var detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                    where = result[0].address.address_name;
                    detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';
                    
                    var content = '<div class="bAddr">' +
                                    '<span class="title">주소</span>' + 
                                    detailAddr + 
                                '</div>';
                    
                    var latlng = mouseEvent.latLng;
                    // 마커를 클릭한 위치에 표시합니다 
                    marker.setPosition(latlng);
                    marker.setMap(map);

                    var lat = latlng.getLat();
                    var lng = latlng.getLng();

                    document.new_form.addr_lat.value = lat
                    document.new_form.addr_lng.value = lng

                    // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
                    infowindow.setContent(content);
                    infowindow.open(map, marker);
                }   
            });
        });

        // 중심 좌표나 확대 수준이 변경됐을 때 지도 중심 좌표에 대한 주소 정보를 표시하도록 이벤트를 등록합니다
        kakao.maps.event.addListener(map, 'idle', function() {
            searchAddrFromCoords(map.getCenter(), displayCenterInfo);
        });

        function searchAddrFromCoords(coords, callback) {
            // 좌표로 행정동 주소 정보를 요청합니다
            geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);         
        }

        function searchDetailAddrFromCoords(coords, callback) {
            // 좌표로 법정동 상세 주소 정보를 요청합니다
            geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
        }

        // 지도 좌측상단에 지도 중심좌표에 대한 주소정보를 표출하는 함수입니다
        function displayCenterInfo(result, status) {
            if (status === kakao.maps.services.Status.OK) {
                var infoDiv = document.getElementById('centerAddr');

                for(var i = 0; i < result.length; i++) {
                    // 행정동의 region_type 값은 'H' 이므로
                    if (result[i].region_type === 'H') {
                        infoDiv.innerHTML = result[i].address_name;
                        break;
                    }
                }
            }    
        }
    }
    
    </script>
</head>
<body>
        <script>
                function new_tab_script(num){
                    var f = $('.new_tab').find('li');
                    if(num==0){ $( '.new_order0' ).css( "color", "#D84339" );$( '.new_order1' ).css( "color", "gray" );$( '.new_order2').css( "color", "gray" );$( '.new_order3').css( "color", "gray" );}
                    if(num==1){ $( '.new_order0' ).css( "color", "gray" );$( '.new_order1' ).css( "color", "#D84339" );$( '.new_order2').css( "color", "gray" );$( '.new_order3').css( "color", "gray" );}
                    if(num==2){ $( '.new_order0' ).css( "color", "gray" );$( '.new_order1' ).css( "color", "gray" );$( '.new_order2').css( "color", "#D84339" );$( '.new_order3').css( "color", "gray" );}
                    if(num==3){ $( '.new_order0' ).css( "color", "gray" );$( '.new_order1' ).css( "color", "gray" );$( '.new_order2').css( "color", "gray" );$( '.new_order3').css( "color", "#D84339" );}

                    for(var i =0; i<f.length; i++){
                     
                        if(i==num){
                            if(i==2 ){
                                if(ifyoufirst==0){ //지도 pick 날아가는현상 해결
                                    init();
                                }
                                
                                f.eq(i).addClass('active');
                                $('.new_tab0' + i).show(); 
                                $('#new_tabArea'+i).show();
                            }else{
                            f.eq(i).addClass('active');
                            $('.new_tab0' + i).show();
                            $('#new_tabArea'+i).show();
                            }
                        }else{
                            f.eq(i).removeClass('chapter');
                            $('.new_tab0' + i).hide();
                            $('#new_tabArea'+i).hide();
                            
                        }
                    }
                    
                }
                </script>
        <div class="divContainer">
        <div class="new_tab" style="display:flex;">
            <ul id="topul">
                <li class="chapter"><a href="#" onclick="new_tab_script(0)"><div class="new_order0" style="display: inline;">1. 글 작성</div> </a><img style="height:14px;padding-bottom: 5px;" src="{% static 'promise/next.png' %}"></li>
                <li class="chapter"><a href="#" onclick="new_tab_script(1)"><div class="new_order1" style="display: inline;">2. 시간 선택</div> </a><img style="height:14px;padding-bottom: 5px;" src="{% static 'promise/next.png' %}"></li> 
                <li class="chapter"><a href="#" onclick="new_tab_script(2)"><div class="new_order2" style="display: inline;">3. 장소 선택</div> </a><img style="height:14px;padding-bottom: 5px;" src="{% static 'promise/next.png' %}"></li>
                <li class="chapter"><a href="#" onclick="new_tab_script(3)"><div class="new_order3" style="display: inline;">4. 벌칙 선택</div> </a></li> 

            </ul>
        </div>
        </div>
<!-- <div class="divContainer"><div id="logoDiv"><img src="{% static 'promise/logo.jpg' %}" id="logo"></div></div> -->

<form method="POST" name='new_form' id="createForm" enctype="multipart/form-data">
    <div class="divContainer" id="new_tabArea0">
            
        <div class="new_tab00" id="panel_new">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <!-- 참여인원 input -->
                {% if not friends %}
                    아직 친구가 없군요?!
                {% else %}
                <div onclick="friendDropdown(1)" id="fDr" class="fDrclass">참여인원 선택</div>
                {% for friend in friends %}
                <div class="friendsList">
                    {% if not friend.name %}
                    친구가없는걸요?
                    {% else %}
                <input type="checkbox" name="party_friend[]" value="{{friend.uid}}"> {{friend.name}}
                {% endif%}
                </div>
                {% endfor %}
                {% endif %}
                <div class="new_tab">
                       
                           
                            <span class="chapter"><a href="#" onclick="new_tab_script(1)">다음</a></span>
    
                        
                    </div>

            </div>
        </div>
        <div class="new_tab01" id="panel_new" style="display:none;">
                 <!-- 날짜시간선택__ -->
        <div class="css-script-clear">
                <div class="col-lg-6">
                <h2 style="background-color:rgb(216, 67, 57); color:white; text-align: center; border-radius:10px" >2. 날짜 및 시간 선택</h2>
                <div id="pickerDiv">
                    <div id="pickerInput">
                        <input style="height:40px" value="날짜 및 시간을 선택해주세요" style="border-radius:0px;" type="text" id="datetimeDemo" name="pic_date" class=" form-control" readonly/>
                    </div>
                    <div id="pickerspace" style="height:381px;"></div>
                </div>
                <div class="new_tab">
                        
                                <span class="chapter" style="float:left"><a href="#" onclick="new_tab_script(0)">이전</a></span>
                            <span class="chapter"><a href="#" onclick="new_tab_script(2)">다음</a></span>
    
                        
                    </div>
                </div>
            </div>
      
            <script>
                tail.DateTime("#datetimeDemo", {
                    static: "#datetime-demo-holder",   /* Used for demonstration */
                    position: "#pickerspace",
                    classNames: "theme-default",    /* Used for demonstration */
                    startOpen: true,                /* Used for demonstration */
                    stayOpen: true,                 /* Used for demonstration */
                });
    
    
            </script>
        </div>
                     <!-- 위도 경도 input -->
                   
                       <input type="hidden" name='addr_lat' value=''>
        <input type="hidden" name='addr_lng' value=''>
        <div class="new_tab02" id="panel_new" style="display:none;">
  

                <h2 style="background-color:rgb(216, 67, 57); color:white; text-align: center; border-radius:10px;">3. 장소 선택</h2>
         
                 <!-- 지도 띄우기 -->
                 <div class="divContainer">
                        
                        <div id="map">
                            
                        </div>
                 </div>
                 <div class="divContainer">
                        <div class="new_tab">
                                        <span class="chapter" style="float:left"><a href="#" onclick="new_tab_script(1)">이전</a></span>
                                    
                                        <span class="chapter" style="float:right"><a href="#" onclick="new_tab_script(3)">다음</a></span>

                                
                            </div>
                        </div>
       
        
        </div>
        <div class="new_tab03" id="panel_new" style="display:none;">
  
<script>
                function friendDropdown(num){
                    
                   if(num==1){
                    $('.fDrclass').hide();
                    $('.friendsList').show();
                    
                       

                   }
                }
                function dropdown(num){
                   var f = '#test';
                   if(num==1){
                       $('.onmousediv').show();
                       $('.tabElements').hide();
                       $(f+1).show();
                       $(f+2).hide();
                       $(f+1).css('height','200px')
                       $(f+2).css('height','0px')

                   } 
                   if(num==2){
                    $(f+2).show();
                    $(f+1).hide();
                    $(f+2).css('height','100px')
                    $(f+1).css('height','0px')
                   } 
                   if(num==3){
                    $(f+1).hide();
                    $(f+2).hide();
                       $(f+2).css('height','0px')
                       $(f+1).css('height','0px')

                   } 
                }

</script>
                <h2 style="background-color:rgb(216, 67, 57); color:white; text-align: center; border-radius:10px; margin-left:10px;">4. 벌칙 선택</h2>
         <style>
         

         </style>
                 <!-- 지도 띄우기 -->
                 <div class="divContainer">
                        <div style="flex: 0 1 550px;">
                                <form class="formtt" >

                                       <style>

                                           #test1{
                                            background-color:rgba(244, 242, 240,0.5);flex:0 1 550px; height:0px;transition:all 0.3s; display:none;
                                           }
                                           #test2{
                                            flex:0 1 550px; height:0px;transition:all 0.3s;display:none;
                                           }
                                        </style>
                                        <script>
                                            function timeTab(num){
                                                if(num==1){
                                                    $('#timeTabEl1').css('display','none');
                                                    $('#timeTabEl2').css('display','none');
                                                    $('#test3').show();
                                                    $('#returnValue').attr('value','1');
                                                }else if(num==2){
                                                    $('#timeTabEl1').css('display','none');
                                                    $('#timeTabEl2').css('display','none');
                                                    $('#test4').show();
                                                    $('#returnValue').attr('value','2');
                                                }else{
                                                    $('#timeTabEl1').toggle();
                                                    $('#timeTabEl2').toggle();
                                                    $('.tabElements').hide();
                                                    $('#returnValue').attr('value','0');

                                                }
                                            }
                                        //     $('#timeselect').ready(function (){
                                        //     // $('#timeTabEl1').on('click',function(){
                                        //     var tests = $("#timeselect option:selected").text();
                                        //     $('#rps').html("<p>" + tests + "</p>");
                                        // });
                                        // $(document).ready(function(){
                                        // $('.tabElements>select').on('click', function () {  
                                        //     // $('.tabElements').on('click','#timeselect', function (){
                                        //     // $('#timeTabEl1').on('click',function(){
                                        //     var tests = $("#timeselect option:selected").text();
                                        //     $('#rps').html("<p>" + tests + "</p>");
                                        // });
                                        // });
                                        $(document).ready(function(){
                                            var timeselect = $("#timeselect option:selected").text();
                                            var payselect = $("#payselect option:selected").text();
                                            var once =$('#once option:selected').text();
                                            $('#rps').html("<p>기본 설정 :" + timeselect + "당 "+payselect+"</p>");
                                            $('#oncerps').html("<p>기본 설정 : 늦으면! " + once + "</p>");                                        $('.tabElements>select').on('change', function () {  
                                            // $('.tabElements').on('click','#timeselect', function (){
                                            // $('#timeTabEl1').on('click',function(){
                                            var timeselect = $("#timeselect option:selected").text();
                                            var payselect = $("#payselect option:selected").text();
                                            var once =$('#once option:selected').text();
                                            $('#rps').html("<p>기본 설정 :" + timeselect + "당 "+payselect+"</p>");
                                            $('#oncerps').html("<p>늦으면! " + once + "</p>");
                                        });
                                        });
                                        </script>
                                        <style>
                                            
                                            .onmousediv:hover{
                                                background-color:rgb(109, 98, 102);
                                            }
                                            .onmousediv{
                                                background-color:rgb(55,50,52);
                                                transition: all 0.4s;
                                                width:50%;height:100%;color:white;display:flex;justify-content: center;align-items:center;
                                            }
                                            .tabElements{
                                                padding:10px;
                                                width:100%;height:100;color:black;
                                            }
                                            #timeTabEl1{
                                                
                                                margin-right:2.5px;
                                            }
                                            #timeTabEl2{
                                                
                                                margin-left:2.5px;
                                            }
                                        </style>
                                        <div class="inputGroup">

                                            <input class="checkinput" onclick="dropdown(1)"id="radio1" name="radio" type="radio" value="1"/>
                                            <label class="checklabel" for="radio1">벌금</label>
                                            <div id="test1" style="display:flex;">

                                                <div onclick="timeTab(1)" id="timeTabEl1" class="onmousediv">시간당 과금</div>
                                                <div  onclick="timeTab(2)" id="timeTabEl2" class="onmousediv">1회 과금</div>
                                                <input type="hidden" name="per_time" id="returnValue" value="0">

                                                <div id="test3" class="tabElements" style="display:none;">
                                                    <!-- <input type="text" data-dir="up" value="1"> -->
                                                    <!-- <span><button type="button" class="btn btn-default" data-dir="up" style="color:black">+</span></button></span> -->

                                                    <select name="setting_min" id="timeselect" class="custom-select custom-select-lg mb-3">
                                                        <option value="1">1분</option>
                                                        <option value="5">5분</option>
                                                        <option value="10">10분</option>
                                                        <option value="30">30분</option>
                                                        <option value="60">1시간</option>
                                                    </select>
                                                    <select name="per_min_penalty" id="payselect" class="custom-select custom-select-lg mb-3">
                                                            <option value="100">100원</option>
                                                            <option value="500">500원</option>
                                                            <option value="1000">1000원</option>
                                                            <option value="5000">5000원</option>
                                                            <option value="10000">1만원</option>
                                                        </select>
                                                        <div id="rps"></div>
                                                <a onclick="timeTab(3)" style="color:rgb(216, 67, 57);float:right"> 돌아가기</a>
                                                </div> 
                                                <div id="test4" class="tabElements" style="display:none;" >
                                                    <select name="panalty" id="once" class="custom-select custom-select-lg mb-3">
                                                            <option id="seldefault" value="100">100원</option>
                                                            <option value="500">500원</option>
                                                            <option value="1000">1000원</option>
                                                            <option value="5000">5000원</option>
                                                            <option value="10000">1만원</option>
                                                            </select>
                                                            <div id="oncerps"></div>
                                                            <a onclick="timeTab(3)" style="color:rgb(216, 67, 57);float:right"> 돌아가기</a>
                                                        </div> 
<!-- <script>
$(document).on('click', '.tabElements select',function (){
     var btn = $(this),
        oldValue = btn.closest('.tabElements').find('input').val().trim(),
        newVal = 0;

        if(btn.attr('data-dir') == 'up'){
            newVal = parseInt(oldValue) + 1;
        }else{

        }
        btn.closest('.tabElements').find('input').val(newVal);
}); -->
</script>
<!-- <script>
$(document).on('click', '.number-spinner button', function () {    
	var btn = $(this),
		oldValue = btn.closest('.number-spinner').find('input').val().trim(),
		newVal = 0;
	
	if (btn.attr('data-dir') == 'up') {
		newVal = parseInt(oldValue) + 1;
	} else {
		if (oldValue > 1) {
			newVal = parseInt(oldValue) - 1;
		} else {
			newVal = 1;
		}
	}
	btn.closest('.number-spinner').find('input').val(newVal);
});

$(document).on('click', '.number-spinner2 button', function () {    
	var btn = $(this),
		oldValue = btn.closest('.number-spinner2').find('input').val().trim(),
		newVal = 0;
	
	if (btn.attr('data-dir') == 'up') {
		newVal = parseInt(oldValue) + 100;
	} else {
		if (oldValue > 1) {
			newVal = parseInt(oldValue) - 1;
		} else {
			newVal = 1;
		}
	}
	btn.closest('.number-spinner2').find('input').val(newVal);
});
</script>
		<div class="col-xs-3 col-xs-offset-3">
			<div class="input-group number-spinner">
				<span class="input-group-btn">
					<button class="btn btn-default" data-dir="dwn">-</button>
				</span>
				<input type="text" class="form-control text-center" value="1">
				<span class="input-group-btn">
					<button class="btn btn-default" data-dir="up" style="color:black">+</span></button>
                </span>
                
            </div>
            <div class="input-group number-spinner2">
                    <span class="input-group-btn">
                        <button class="btn btn-default" data-dir="dwn">-</button>
                    </span>
                    <input type="text" class="form-control text-center" value="1">
                    <span class="input-group-btn">
                        <button class="btn btn-default" data-dir="up" style="color:black">+</span></button>
                    </span>
                    
                </div>
		</div> -->
                                           </div>
                                        </div>
                                        <div class="inputGroup">
                                            <input class="checkinput" onclick="dropdown(2)"id="radio2" name="radio" type="radio" value="2"/>
                                            <label class="checklabel" for="radio2">엽사 공개</label>
                                            <div id="test2"> 
                                                
                                                        <input style="width:200px;height:100px;" type="file" name="fun">
                                                    
                                                    
                                                </div>
                                        </div>
                                        <div class="inputGroup">
                                                <input class="checkinput"onclick="dropdown(3)" id="radio3" name="radio" type="radio" value="3"/>
                                                <label class="checklabel" for="radio3">벌칙 없음</label>
                                              </div>
                                      </form>
                        </div>
                        
                    </div>
                 <div class="divContainer">
                        <div class="new_tab">
                                        <span class="chapter" style="float:left"><a href="#" onclick="new_tab_script(2)">이전</a></span>
                                    
                                       

                                
                            </div>
                        </div>
                 <div class="divContainer">
                 <input class="inputform" type="button" value="확인" onclick="checkform()">
                 <!-- <button onclick="" type='button'>확인</button> -->
                 </div>
                 <!-- submit 전에 form 양식 맞췄는지?-->
                 </div>

        <script>
                function checkform(){
                    var timeTmp = document.getElementById('datetimeDemo').value;
                    var d = new Date();
                    
                    var cur_time = leadingZeros(d.getFullYear(), 4) +
                            leadingZeros(d.getMonth() + 1, 2) +
                            leadingZeros(d.getDate(), 2) +
                            leadingZeros(d.getHours(), 2) +
                            leadingZeros(d.getMinutes(), 2) +
                            leadingZeros(d.getSeconds(), 2);
        
                    var set_time = timeTmp.replace("-","");
                    set_time = set_time.replace("-","");
                    set_time = set_time.replace(" ","");
                    set_time = set_time.replace(":","");
                    set_time = set_time.replace(":","");
        
                    if(cur_time < set_time){
                        if(confirm(timeTmp + "\n" + where + "이 확실해요?") == true){
                            document.new_form.submit();
                        }else{
                            return false;
                        }
                    } else{
                        alert("약속 시간이 현재보다 이전입니다.");
                        return false;
                    }
                }
        
                function leadingZeros(n, digits) {
                    var zero = '';
                    n = n.toString();
        
                    if (n.length < digits) {
                        for (i = 0; i < digits - n.length; i++)
                        zero += '0';
                    }
                    return zero + n;
                }
                </script>

   


       

       
        
    </form>
</div>
</body>




{% endblock %}
