{% extends 'base.html' %}
{% load staticfiles %}
{% block contents %}

<!-- <link rel="stylesheet" href="{% static 'promise/css/all.min.css' %}"> -->
<script src="{% static 'promise/js/all.min.js'%}"></script>
<link rel="stylesheet" href="{% static 'promise/css/search.css' %}">
<div class="divContainer">
<form action="" method="get">
    <style>
        </style>
        <fieldset><input type="search" name="q" value="{{ q }}" /><button id="sbtn" type="submit"><i class="fa fa-search"></i></button></fieldset>
        
        
</form>
</div>
<div style="display:flex;flex-wrap : wrap;">
{% for user in user_list %}
    <div style="margin:20px; display:flex;height:110px;flex:1 1 280px;justify-content: flex-start;">
         <!-- 프사 띄워주는 곳 -->
        {% if user.profile_image == '' %}
        <img style="height:110px;width:110px" src="{% static 'promise/user.png' %}" />
        {% else %}
            <img style="height:110px;width:110px"src="{{user.profile_image}}" alt="">
        {% endif %}

    <div style="margin-left:10px;">
    <p>{{ user.name }}</p>
    <p style="width:150px;overflow: hidden; text-overflow: ellipsis;white-space: nowrap">
    {{user.state_msg}}
    </p>
    </span>
    {% if user not in friends %}
        {% if user.uid in noti_wait_friend %}
        <button class="fbtn">요청중</button>
        {% else %}
        <form action="{% url 'add_friend' pk=user.pk %}" method="get">
                <button class="fbtn" style="padding:0px;"type="submit">친구신청</button>
                <input type="search" style="display:none;" name='q_2' value="{{ q }}">
                
        </form>
        {% endif %}
    {% endif %}
</div>
    </div>
    <br>
    
{% endfor %}





</div>
</div>
{% endblock %}