<form action="" method="get">
        <input type="text" name="q" value="{{ q }}">
        <input type="submit" value="검색">
</form>

{% for user in user_list %}
    <!-- 프사 띄워주는 곳 -->
    {% if user.profile_image == '' %}
        스태틱
    {% else %}
        <img src="{{user.thumbnail_image}}" alt="">
    {% endif %}

    {{ user.name }}

    {% if user not in friends %}
        {% if user.uid in noti_wait_friend %}
        <button>요청중</button>
        {% else %}
        
        <form action="{% url 'add_friend' pk=user.pk %}" method="get">
                <input type="hidden" name='q_2' value="{{ q }}">
                <button type="submit">친구신청</button>
        </form>
        {% endif %}
    {% endif %}
    <br>
{% endfor %}