<form action="" method="get">
        <input type="text" name="q" value="{{ q }}">
        <input type="submit" value="검색">
</form>

{% for user in user_list %}
    <!-- 프사 띄워주는 곳 -->
    {% if not user.socialaccount_set.all %}
        {% if not user.profile %}
            스태틱
        {% elif user.profile.image == '' %}
            스태틱
        {% else %}
            <img width="50" height="50" src="{{ user.profile.image.url }}" />
        {% endif %}
    {% else %}
        <img width="50" height="50" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
    {% endif %}

    {{ user.username }}

    {% if user not in friends %}
        {% if user.username in noti_wait_friend %}
        <button>요청중</button>
        {% else %}
        
        <form action="{% url 'add_friend' pk=user.pk %}" method="get">
                <input type="hidden" name='q_2' value="{{ q }}">
                <button type="submit">친구신청</button>
        </form>
        {% endif %}
    {% endif %}
    <br>
{% endfor %}